.movies_container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 300px 300px 300px 300px 300px;
  gap: 30px;
}

img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  transition: filter 0.4s ease-in-out;  
}


.movie_info {
  position: relative;
  overflow: hidden;
}

.movie_info:hover img{
  filter: blur(4px);
}

p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  position: absolute;
  inset: 0;
  color: azure;
  text-align: center;
  overflow: hidden;
}

a {
  padding: 10px;
  transition: color 0.4s ease-in-out;
}

a:hover {
  color: deeppink;
}

.Nav_Link {
  padding: 10px
}

.Nav_button--container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.Nav_button--left {
  margin-right: 10px;
}

.Nav_button--right {
  margin-left: 10px;
}

.LodingSpinner {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  animation: spin 2s linear infinite;
  border: 5px solid deeppink;
  border-top:5px solid white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LodingSpinner_container {
  display: flex;
  justify-content: center;
}

.CharacterInMovie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px,1fr));
  gap: 25px;
  justify-items: center;
}

.Act_img {
  border-radius: 50px;
  width: 80px;
  height: 80px;
  border: 1px solid white;
}

.MovieInfo_container {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

article div {
  color: white;
}

