@import "tailwindcss";

.main_contents {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.MovieThrailer {
  display: flex;
  justify-content: center;
}


iframe {
  width: 95%;
  height: 50vw;
  border-radius: 20px;
  padding: 20
}

.MovieInfo {
  position: absolute;
  padding: 2.5%;
  opacity: 0;
  color: white;
  transition: opacity 0.4s ease-in-out;
  overflow:scroll;
  height: 45rem;
  width: 25rem;
}

.MovieInfo:hover {
  opacity: 1;
  background: linear-gradient(66deg, rgb(0, 0, 0) 0%, transparent 100%)
}

.CharacterInMovie_container {
  padding: 2.5%;
}