.NavBar_container {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(0, 0, 0);
    color: rgb(9, 248, 5);
}
.NavBar-Buttons_container {
    display: flex;
    align-items: center;
}
body {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: aliceblue;
}

.login_container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 35vh;
    gap: 2vw;
}

.Button-back {
    background-color: black;
    color: aliceblue;
    border: none;
}

.google_login {
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    border: 1px solid white ;
    height: 5vh;
}

.login {
    border: none;
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
    height: 5vh;
    transition: background-color 0.4s ease-in-out;
}
.login:disabled {
    background-color: rgb(17, 16, 16);
}

.login_container input {
    border: 1px solid white;
    border-radius: 5px;
    height: 4vh;
    background-color: rgb(62, 63, 62);
}

.alert {
    color: red;
    font-size: 15px;
}

.SideBar {
    background-color: rgb(29, 30, 29);
    width: 23vw;
    height: 100vh;
    display: inline-block;
    transition: width 2s ease;
}



main {
    justify-content: left; 
}

.show-LP_container {
    width: 77vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.Plus_button {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 255, 17);
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
    font-size: 45px;
}

.show-LP {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;;
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 25px
}
.show-LP > img{
    width: 200px;
    height: 200px;
}

.NavBar-Buttons_container>button{
    border: none;
    background-color: black;
    color: aliceblue;
    margin: 1vw;
}

.NavBar_container > h1 {
    margin: 2vw;
}

.button-sticky {
    position: fixed;
    border: none;
    border-radius: 50%;
    background-color: rgb(13, 255, 0);
    color:aliceblue;
    width: 40px;
    height: 40px;
    font-size: 30px;
    left: 95vw;
    top: 90vh;
}

.NavBar-Title_container{
    display: flex;
    align-items: center;
}

.NavBar-button{
    background-color: rgb(0, 0, 0,0);
}

.SideBar-closed {
    width: 0px;
}

.AddLP_background{
    position: fixed;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 50, 50, 0.5);
}

.LP_container {
    width: 35vw;
    height: 50vh;
    background-color: rgb(7, 7, 7);
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.LP_container > input {
    background-color: rgb(0, 0, 0,0);
    border-radius: 5px;
    height: 10%;
    border-color: rgb(153, 151, 151) ;
}

.LP_container > button {
    background-color: rgb(79, 81, 82);
    border-radius: 5px;
    border: none;
    height: 10%;
    
}

.LP_TAG{
    width: 70%;
}

.Add {
    width: 55px;
}

.LP_container > img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* 원형으로 만들기 */
    object-fit: cover;
}

.NavBar-button > svg {
    color: aliceblue;
}

.NavBar-button {
    border: none;
}

.Swiching_Button {
    position: fixed;
    left: 85vw;
    bottom: 50vh;

}